* {
  padding: 0;
  margin: 0;
}



.switchBtn,
.assignBtn {
  min-height: 40px;
  max-height: 40px;
  font-weight: bolder;
}

.switchBtn {
  width: 14vw;
  background-color: red;
  color: #333;
}

textarea {
  margin-top: 20px;
  width: 80vw;
  height: 4rem;
  border-radius: 7px;
  padding: 10px;
  font-size: 12px;

}
form {
background-color: grey;
}
.assignBtn {
  width: 10vw;
  background-color: rgb(55, 55, 180);
  color: #333;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
  margin-bottom: 10px;
}

#user {
  background-color: #ababab;
  padding: 15px;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
}

.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;

  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}

.icon {
  margin-right: 10px;
  margin-left: 15px;
}


main {
  flex: 1;
}





.contact-header h3 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.contact-header p {
  font-size: 13px;
  color: black;
  margin: 0;
}

.buttons {
  text-align: right;
}

.buttons button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  grid-gap: 10px;
  border: 1px solid #ccc;
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 1px;
}

.container {
  height: 100%;
  width: 80%;
  background-color: white;
  border-left: 1px solid rgb(37, 37, 37);
}