* {
  padding: 0;
  margin: 0;
}



.switchBtn,
.assignBtn {
  min-height: 40px;
  max-height: 40px;
  font-weight: bolder;
}

.switchBtn {
  width: 14vw;
  background-color: red;
  color: #333;
}

textarea {
  margin-top: 20px;
  width: 10vw;
  height: 4rem;
  border-radius: 7px;
  padding: 10px;
  font-size: 12px;

}

form {
  width: 100%;
}
.notes-container h3 {
  margin-bottom: 20px;

}
hr {
 margin-bottom: 10px;
}

.notes-container  {
  border: 1px solid rgb(187, 183, 183);
  padding: 10px;
  border-radius: 10px;
}
.comment-box {
  margin-bottom: 20px;


  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.comment-box strong {
  font-weight: bolder;
}

.comment-box .comment {
  font-weight: normal;
  margin-bottom: 5px;
}

.comment-box .date {
  font-style: italic;
  color: #666;
}


textarea {
  width: 80vw;
  height: 10vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

form button {
  padding: 10px;
  font-size: 14px;
  width: 10em;
  color: white;
  background-color: aqua;
  border: none;
  border-radius: 5px;
}

.assignBtn {
  width: 10vw;
  background-color: rgb(55, 55, 180);
  color: #333;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
  margin-bottom: 10px;
}

#user {
  background-color: #ababab;
  padding: 15px;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
}

.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 10px;

}


.contact-header h3 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.contact-header p {
  font-size: 13px;
  color: black;
  margin: 0;
}

.buttons {
  text-align: right;
}

.buttons button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  border: 1px solid grey;
  padding: 30px;
  border-radius: 10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 1px;
}

.container {
  height: 100%;
  background-color: rgb(238, 236, 236);
  box-sizing: content-box;

}

#all-content {
  display: flex;
  gap: 100px;
  position: relative;
  bottom: 0;
  flex-direction: column;
}